export(orlm, orgls, goric, goric_penalty, orlmcontrol, sim, orlmSet, orglsSet, constrMat, constrSet, orglm, orglm.fit, orglm_penalty)
exportClasses("orlm","orgls","orglm","goric")

import("nlme")
import("parallel")
importFrom("quadprog", solve.QP)
importFrom("mvtnorm", rmvnorm)
importFrom("MASS", lm.gls)
importFrom("Matrix", bdiag)

S3method(orlm, formula)
S3method(orgls, formula)
S3method(goric, orlm)
S3method(goric, list)
S3method(print, orlm)
S3method(summary, orlm)
S3method(model.matrix, orlm)
S3method(sim, orlm)
S3method(predict, orlm)
S3method(goric, orgls)
S3method(print, orgls)
S3method(summary, orgls)
S3method(model.matrix, orgls)
S3method(predict, orgls)
S3method(sim, orgls)
S3method(goric, orglm)
